.c-thema-card{
	padding: 40px 0;
}

.c-thema-card--reverse{
	.row{
		@include mq($md){
			flex-direction: row-reverse!important;
		}
	}
	.c-thema-card__img{
		@include mq($md){
			margin-left: 0;
			margin-right: auto;
		}
	}
}

.c-thema-card__body{
	@include mq($md){
		padding: 30px 0;	
	}
}

.c-thema-card__title{
	margin-bottom: 20px;

	@include font(s-large, 40, 700);
}

.c-thema-card__description{
	@include font(mid, 36, 300);
	opacity: 0.7;

	p:last-of-type{
		margin-bottom: 0;
	}
}

.c-thema-card__img-wrap{
	@include mq($max: $md){
		order: -1;
	}
}


.c-thema-card__img{
	margin-left: auto;
	max-height: 480px;

	&.img-auto-height {
		max-height : none;
	}

	@include mq($max:$md){
		max-height: 390px;
		width: auto;
		margin: 0 auto 50px;
	}
}

.c-thema-card__link{
	margin-top: 20px;

	.c-btn-link {
		font-weight: 600;
	}

	.icon {
		top: 8px;
		transform: none;
	}
}

#stemmingen_34 { 
	.c-thema-card__img {
		@include mq($max: $md){
			margin-left: 0;
		}
	}

	img {
		transform: translateX(-100px);

		@include mq($md){
			transform: translateX(-35px);
		} 

		@include mq($xl){
			transform: translateX(-117px);
		}

		@include mq(1400){
			transform: translateX(-175px);
		}
	}
}
#levensdoel_36 {

	img { 
		@include mq($md){
			transform: translateX(-55px);
		}
	}
	
}

.c-thema-card.has-team-gallery {

	@include mq($max: $md) {
		.c-thema-card__body {
			margin-top: 25px;
		}

		a.c-btn {
			margin-top: 25px;
		}
	}

	.c-thema-card__image-box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row: auto;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		text-align: center;


		@include mq($max: $sm) {
			grid-template-columns: 1fr;
		}

		.c-thema-card__team-card {
			text-align: center;
		}

		.c-thema-card__team-card_link {
			display: inline-block;
			max-width: 80%;
		}

		.c-thema-card__team-card_img {
			display: block;
			max-width: 200px;
			border-radius: 50%;
			overflow: hidden;
		}

		.c-thema-card__team-card_name {
			margin-top: 10px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 0.875rem;
			line-height: 1.7;
		}

		.c-thema-card__team-card_position {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 1.7;
			opacity: 0.7;
		}
	}

	.c-btn-primary--white {
		border: 1px solid palette(primary-dark-blue);
	}

	.c-btn-primary--skin {
		color: palette(primary-dark-blue);
		border: 1px solid palette(primary-dark-blue);
	}
}


.c-thema-card.s-text-image {
	.c-thema-card__title {
		font-family: "Noto Serif JP";
		font-size: 2.875rem;
		line-height: 1.3;
		font-weight: 900;
		color : palette(primary-dark-blue);
	}
	.c-thema-card__description {
		margin: 0 0 16px;
		font-family: "Montserrat", sans-serif;
		font-size: 1.125rem;
		line-height: 2;
		font-weight: 300;
		color : palette(primary-dark-blue);
		opacity: 0.7;
	}
}

.c-thema-card {
	&.u-color-primary-dark-blue, &.u-color-primary-blue, &.u-color-primary-green {
		.c-thema-card__title, .c-thema-card__description, .c-thema-card__team-card_name, .c-thema-card__team-card_position {
			color : palette(primary-dark-blue);
		}
	}
	&.u-color-primary-skin, &.u-color-primary-white {
		.c-thema-card__title, .c-thema-card__description, .c-thema-card__team-card_name, .c-thema-card__team-card_position {
			color : palette(primary-white);
		}
	}
}
