._form_hide { 
    display:none; 
    visibility:hidden; 
}

._form_show { 
    display:block; 
    visibility:visible; 
}

._form_75{
    width: 100%!important;
    padding: 0!important;
}

.customized-form {
    position: relative;
    text-align: left; 
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    *zoom:1;  
    border: 0px!important; 
    width: 100%; 
    -moz-border-radius: 0px !important; 
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important; 
    
    @include font(mid, 36, 300);
    @include font-family(base);  

    .o-footer__middle & { 
        background: palette(primary-dark-blue);
        color: palette(primary-white); 
    }
    .s-subscribe & {
        background: transparent;
        color: palette(primary-dark-blue); 
    }

    &._inline-form,
    ._form-content,
    input, 
    ._submit { 
        @include font-family(base); 
    }

    &._inline-form {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    * { 
        outline:0; 
    }

    ._form-top {
        top:0; 
    }

    ._form-bottom { 
        bottom:0; 
    }
    
    ._form-left { 
        left:0; 
    }

    ._form-right { 
        right:0; 
    }

    ._form-top {
        top:0; 
    }

    ._form_element_select {
        label {
            position : relative;
            z-index : 1;
        }
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {  
        display: block;
        padding: 0 0 2px;
        width: 100%;
        font-size: 1.125rem;
        line-height: 2;
        font-weight: 400; 
        background: transparent;
        border: none !important;
        border-radius: 0;
        border-bottom: 1px solid palette(primary-white) !important;
        outline: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: all .3s;

        .o-footer__middle & {  
            border-bottom: 1px solid palette(primary-white);
            color: palette(primary-white); 
        }
        .s-subscribe & { 
            border-bottom: 1px solid palette(primary-dark-blue);
            color: palette(primary-dark-blue); 
        } 
        .s-wave--primary-skin & { 
            border-bottom: 1px solid palette(primary-dark-blue);
            color: palette(primary-dark-blue); 
        } 

        &._has_error {
            border-top: none!important;
            border-left: none!important;
            border-right: none!important;
            border-bottom-color: red!important; 
        }
    }

    textarea { 
        resize:none; 
    }

    select {
        background-color : #00a885;
        color : #fff;
        &._has_error {
            border-top: none!important;
            border-left: none!important;
            border-right: none!important;
            border-bottom-color: red!important;
        }
    }

    ._submit { 
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        min-width: 80px;
        padding: 10px 18px;
        border: 0;
        cursor: pointer;
        border-radius: 100px;
        text-decoration: none; 
        overflow: hidden;
        text-align: center;  
        @include font(mid, 36, 600);
        .o-footer__middle & {  
            background: palette(primary-white);
            color: palette(primary-dark-blue);
        }
        .s-subscribe & { 
            background: palette(primary-dark-blue);
            color: palette(primary-white);
        } 
        .c-form & {
            background: palette(primary-white);
            color: palette(primary-dark-blue);
        }
        .s-wave--primary-skin & { 
            background: palette(primary-dark-blue);
            color: palette(primary-white); 
        }
        
        @include mq(375) {
          min-width: 90px;
          padding: 12px 30px;
        }
      
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 0;
          height: 100%;
          background: rgba(palette(primary-black), 0.1);
          border-radius: 5px;
          transition: all 1s ease;

          .o-footer__middle & {  
            background: rgba(palette(primary-black), 0.1);
          } 
          .s-subscribe & { 
            background: rgba(palette(primary-white), 0.1);
          }
          .c-form & {
            background: rgba(palette(primary-black), 0.1);
          }
          .s-wave--primary-skin & { 
            background: rgba(palette(primary-white), 0.1);
          }
        }
      
        &:hover {
          &:before {
            width: 100%;
          }
        } 
    }

    
    ._form-title,
    ._inline-style { 
        margin-top: 0; 
        margin-right: 0; 
        margin-left: 0;  
        @include font-family(secondary);
    }
      
    
    ._form-label,
    ._form_element ._form-label {     
        font-size: 1.125rem;
        line-height: 2;
        font-weight: 300; 
        position: absolute;
        top: 4px;
        left: 0;
        transition: all 0.5s ease-in;
        pointer-events: none;
        opacity: 0.7;    

        .o-footer__middle & {  
            color: palette(primary-white); 
        }
        .s-subscribe & { 
            color: palette(primary-dark-blue); 
        } 
        .s-wave--primary-skin & { 
            color: palette(primary-dark-blue); 
        }

        &.has-value {
            top: 0;
            transform: translateY(-100%);
            @include font(small, 24, 300);
            transition: all 0.4s ease-in;
            opacity: 1;
          }
    }

    ._field-wrapper { 
        position:relative; 
     } 

    ._form_element { 
        position: relative; 
        opacity: 1;
        margin-bottom: 10px; 
        font-size: 0; 
        max-width: 100%;

        &:first-child {
            margin-top: 0;
        }

        * { 
            @include font(mid, 36, 300);
            @include font-family(base); 
        }

        ._form-title { 
            margin-bottom: 20px; 
            @include font(s-large, 40, 700,);
            @include font-family(secondary);     
        }
    }
    .g-recaptcha {
        margin-top: 25px;
    }

    ._form-content {
        ._form_element_input {
            margin-top: 45px; 

            &:first-child {
                margin-top: 30px; 
            }
        } 
    }

    ._button-wrapper { 
        position: relative;
        margin-top: 20px; 
    }

    ._form-thank-you { 
        position: relative; 
        left: 0; 
        right: 0; 
        text-align: left; 
        @include font(mid, 36, 400);
        opacity: 1;
    }
     
    
    ._error { 
        display:block; 
        position:absolute; 
        font-size:14px; 
        z-index:10000001; 
    }

    ._error._above { 
        padding-bottom:4px; 
        bottom:39px; 
        right:0; 
    }

    ._error._below { 
        padding-top: 0; 
        top: 100%; 
        right: 0; 
    }

    ._error._above ._error-arrow { 
        display: none; 
    }

    ._error._below ._error-arrow { 
        display: none;
    }

    ._error-inner { 
        padding: 0; 
        background-color: transparent; 
        font-size: 14px;   
        text-align: left; 
        text-decoration: none; 
        -webkit-border-radius: 4px; 
        -moz-border-radius: 4px; 
        border-radius: 4px; 
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        opacity: 0.7;
        
        @include font(l-small, 20, 300);        

        .o-footer__middle & {  
            color: palette(primary-white); 
        }
        .s-subscribe & { 
            color: palette(primary-dark-blue); 
        }
    }

    ._error-inner._form_error { 
       margin-bottom: 5px; 
       text-align: left; 
    }

    ._button-wrapper ._error-inner._form_error { 
       position: static; 
    }

    ._error {
        width: 100%;
    }

    ._error-inner._no_arrow { 
       margin-bottom: 10px; 
    }

    ._error-arrow {
       display: none!important;
    }

    ._error-html { 
       margin-bottom: 10px; 
    }

    ._form-fieldset{
        padding: 0;
        padding-top: 24px;
        border: none;

        .с-checkmark__box{
            margin-bottom: 19px;
        }
    }

    ._checkbox-radio{
        margin-bottom: 24px;

        &:last-of-type{
            margin-bottom: 0;
        }

        ._error-inner{
            padding: 8px 12px;
            opacity: 1;
            width: 200px;
            left: 100%;
            border-radius: 0 8px 8px 8px;
            background-color: palette(primary-skin);
            color: palette(primary-black);
            box-shadow: 0px 10px 20px 0px rgba(palette(primary-black), 0.1);
        }
    }

} 
#_form_39_,
#_form_37_,
#_form_259_,
#_form_91_{
    ._error._above{
        padding-top: 0; 
        top: 100%; 
        right: 0; 
    }
}

.s-contact {
    #_form_63_,
    #_form_317_ {
        ._error._above {
            bottom: 0;
        }
    }
}

#_form_614AD46302246_{
    @include mq($md){
        padding-top: 0!important;
        padding-bottom: 0!important;
        margin: 0 auto!important;
    }
}

form[class*="_form_"] {
    select {
        border: rgba(21, 35, 97, 0.4) 1px solid !important;
        background-color : inherit;
    }
}
.customized-form._form {
    select {
        border: none !important;
        border-bottom: 1px solid #ffffff !important;
        &._has_error {
            border-bottom-color: red !important;
        }
    }
}
._form-wrapper {
    ._form-content {
        font-family: 'Montserrat' !important;
        ._form-title {
            font-size: 15px;
        }
        input {
            font-family: 'Montserrat' !important;
            color: palette(primary-dark-blue) !important;
            &::placeholder {
                color: palette(primary-dark-blue) !important;
                opacity: .7;
            }
        }
        ._submit {
            font-family: inherit !important;
            line-height: 19px;
        }
    }

}

._form_element [for="ls"]._form-label {
    opacity: 0 !important;
}