.c-job-card__wrap{
    max-width: 768px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(palette(primary-dark-blue), 0.2);
    @include mq($lg){
        margin-right: auto;
    }
}

.c-job-card{
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px rgba(palette(primary-black), 0.1);
    border-radius: 20px;

    @include mq($md){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 50px;
        margin-bottom: 50px;
    }
}

.c-job-card__title{
    margin-bottom: 20px;

    @include mq($md){
        margin-bottom: 10px;
    }
}

.c-job-card__location{
    padding-left: 15px;
    margin-bottom: 20px;
    @include mq($md){
        padding-left: 0;
        margin-bottom: 0;
    }
}

.c-job-card__text{
    display: block;
    position: relative;
    padding-left: 18px;
    @include font(mid, 36, 300);

    &::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 2px;
        top: 18px;
        left: 0;
        background-color: palette(primary-dark-blue);
    }

    @include mq($md){
        display: inline-block;
        &::after{
            left: 8px;
        }
        &:first-of-type{
            padding-left: 0;
            &::after{
                display: none;
            }
        }
    }
}

.c-job-card__btn{
    .c-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon{
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}

.c-job-card__container{
    & + &{
        padding-top: 30px;
        @include mq($md){
            padding-top: 50px;
        }
    }

    &:last-of-type{
        .c-job-card__wrap{
            border-bottom: none;
        }
    }
}
