.u-color-primary-blue {
  color: palette(primary-blue);
}

.u-color-primary-dark-blue {
  color: palette(primary-dark-blue);
}

.u-color-primary-green {
  color: palette(primary-green);
}

.u-color-primary-white {
  color: palette(primary-white);
}

.u-color-primary-skin {
  color: palette(primary-skin);
}



.u-bg-primary-skin {
    background-color: palette(primary-skin);
}

.u-bg-primary-white {
    background-color: palette(primary-white);
}

.u-bg-primary-green {
  background-color: palette(primary-green);
}
.u-bg-primary-blue {
  background-color: palette(primary-blue);
}

.u-bg-primary-violet {
  background-color: palette(primary-violet);
}

.u-bg-primary-dark-blue {
  background-color: palette(primary-dark-blue);
}



.u-bg-secondary-blue {
    background-color: palette(secondary-blue);
}

.u-bg-secondary-dark-blue {
  background-color: palette(secondary-dark-blue);
}

.u-bg-secondary-green {
    background-color: palette(secondary-green);
}

.u-bg-secondary-skin {
  background-color: palette(secondary-skin);
}

.u-bg-secondary-white {
    background-color: palette(secondary-white);
}