$gap_small : 10px;
$gap_medium : 20px;

$text-color : #fff;
$grey : #1c2340;
$secondary-grey : #444;
$light-grey : #b6bbd0;
$st-grey : #f5f6fa;
$main-bg-color : #151515;
$primary-decor-color : #4f52ef;

$swiper-bar-width : 60px;
$swiper-line-width : $swiper-bar-width/15;


$footer-height : 60px;
$screen-left-padding : 120px;